dash==1.3.1
dash-bootstrap-components==0.7.2
dash-core-components==1.2.1
dash-daq==0.1.7
dash-html-components==1.0.1
dash-renderer==1.1.0
dash-table==4.3.0
dash-table-experiments==0.6.0
data==0.4
dateparser==1.0.0
decorator==4.4.0
defusedxml==0.6.0
dnspython==1.16.0
dominate==2.4.0
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.4.0
Flask-Cors==3.0.7
flask-googlemaps==0.4.0
Flask-JWT==0.3.2
Flask-JWT-Simple==0.0.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
folium==0.12.1
funcsigs==1.0.2
future==0.17.1
grpcio==1.35.0
halo==0.0.31
httplib2==0.18.1
humanize==3.1.0
hvac==0.10.5
hyperopt==0.1.2
idna==2.8
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
joblib==0.17.0
json5==0.9.5
jsonschema==3.0.1
kiwisolver==1.0.1
libcst==0.3.16
log-symbols==0.0.14
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==2.21.0
matplotlib==3.0.3
numpy==1.18.5
panda==0.3.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.7.1
patsy==0.5.1
pefile==2019.4.18
pendulum==2.1.2
pickleshare==0.7.5
Pillow==8.0.1
plotly==4.12.0
plotly-express==0.4.1
