aiohttp==3.6.2
alembic==1.1.0
altair==2.4.1
altgraph==0.16.1
ansi2html==1.5.2
APScheduler==3.6.3
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
attrs==18.2.0
backcall==0.2.0
bcrypt==3.1.5
beautifulsoup4==4.9.1
bleach==3.2.1
blinker==1.4
branca==0.4.2
cachetools==4.2.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
click-completion==0.5.2
click-didyoumean==0.0.3
click-help-colors==0.9
colorama==0.4.3
cryptography==3.3.1
cycler==0.10.0
dash==1.3.1
dash-bootstrap-components==0.7.2
dash-core-components==1.2.1
dash-daq==0.1.7
dash-html-components==1.0.1
dash-renderer==1.1.0
dash-table==4.3.0
dash-table-experiments==0.6.0
data==0.4
dateparser==1.0.0
decorator==4.4.0
defusedxml==0.6.0
dnspython==1.16.0
dominate==2.4.0
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.4.0
Flask-Cors==3.0.7
flask-googlemaps==0.4.0
Flask-JWT==0.3.2
Flask-JWT-Simple==0.0.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
folium==0.12.1
funcsigs==1.0.2
future==0.17.1
google==3.0.0
google-api-core==1.25.1
google-api-python-client==1.12.8
google-auth==1.25.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-cloud==0.34.0
google-cloud-vision==2.1.0
googleapis-common-protos==1.52.0
gradient==1.3.0
gradient-utils==0.3.2
grpcio==1.35.0
halo==0.0.31
httplib2==0.18.1
humanize==3.1.0
hvac==0.10.5
hyperopt==0.1.2
idna==2.8
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.10
joblib==0.17.0
json5==0.9.5
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter-dash==0.3.1
jupyter-server-proxy==1.5.0
jupyterlab==2.2.9
jupyterlab-dash==0.1.0a3
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
kiwisolver==1.0.1
libcst==0.3.16
log-symbols==0.0.14
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==2.21.0
matplotlib==3.0.3
maya==0.6.1
mistune==0.8.4
multidict==4.6.1
mypy-extensions==0.4.3
mysql-connector==2.2.9
mysql-connector-python==8.0.19
nbclient==0.5.0
nbconvert==6.0.7
nbformat==4.4.0
nest-asyncio==1.4.1
networkx==2.5
nltk==3.5
notebook==6.1.4
ntlm-auth==1.4.0
numexpr==2.7.1
numpy==1.18.5
oauthlib==3.1.0
openpyxl==3.0.3
orca==1.5.3
packaging==20.4
panda==0.3.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.7.1
patsy==0.5.1
pefile==2019.4.18
pendulum==2.1.2
pickleshare==0.7.5
Pillow==8.0.1
plotly==4.12.0
plotly-express==0.4.1
powershell-kernel==0.1.4
progressbar2==3.53.1
prometheus-client==0.8.0
prompt-toolkit==3.0.8
proto-plus==1.13.0
protobuf==3.14.0
psutil==5.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pygame==1.9.6
Pygments==2.7.1
PyInstaller==3.5
PyJWT==1.4.2
pymongo==3.11.2
PyMySQL==0.9.3
pyOpenSSL==20.0.1
pyOutlook==4.2.2
pyparsing==2.3.1
pyrsistent==0.14.11
python-dateutil==2.8.0
python-editor==1.0.4
python-utils==2.4.0
pytz==2019.3
pytzdata==2020.1
pywin32==225
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pywinrm==0.4.1
pyxlsb==1.0.6
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.10.28
reportlab==3.5.55
requests==2.21.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.7
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
shellingham==1.3.2
simpervisor==0.3
six==1.13.0
sklearn==0.0
slackclient==2.3.1
snaptime==0.2.4
soupsieve==2.0.1
spinners==0.0.24
SQLAlchemy==1.2.16
statsmodels==0.12.0
tables==3.6.1
termcolor==1.1.0
terminado==0.9.1
terminaltables==3.1.0
testpath==0.4.4
tk==0.1.0
toolz==0.9.0
tornado==6.0.4
tqdm==4.51.0
traitlets==4.3.2
twilio==6.33.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
tzlocal==2.0.0
uritemplate==3.0.1
urllib3==1.24.1
vega-datasets==0.7.0
virtualenv==16.7.5
visitor==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.14.1
widgetsnbextension==3.5.1
windows-curses==2.2.0
WTForms==2.2.1
xlrd==1.2.0
xmltodict==0.12.0
yarl==1.3.0
